@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center text-warning">@ViewData["Title"]</h1>
<h4 class="text-center text-warning">Create a new account.</h4>
<div class="text-center">
    <label class="text-info">All fields marked with <span class="text-danger">*</span> are required.</label>
    <br />
    <label class="text-info">Please provide a valid email, otherwise you won't be able to verify your email.</label>
</div>
<hr class="bg-warning"/>
<div class="row align-items-center justify-content-center">
    
    <div>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
            
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.UserName" class="font-weight-bold text-warning"></label>
                <label class="text-danger">*</label>
                <input asp-for="Input.UserName" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email" class="font-weight-bold text-warning"></label>
                <label class="text-danger">*</label>
                <input asp-for="Input.Email" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password" class="font-weight-bold text-warning"></label>
                <label class="text-danger">*</label>
                <input asp-for="Input.Password" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.ConfirmPassword" class="font-weight-bold text-warning"></label>
                <label class="text-danger">*</label>
                <input asp-for="Input.ConfirmPassword" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.AvatarImage" class="font-weight-bold text-warning"></label>
                <input asp-for="Input.AvatarImage" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="Input.AvatarImage" class="text-danger"></span>
            </div>

            <hr class="bg-warning"/>
            <button type="submit" class="btn btn-outline-warning">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
