@model List<BaseThreadViewModel>
@{ ViewData["Title"] = "Home Page"; }

@foreach (var item in Model)
{
    <div class="d-flex justify-content-center">
        <div>
            <h2 class="text-center">
                <a href="/BaseThreads/ById/?id=@item.Id" class="text-decoration-none">
                    @item.Title
                </a>
            </h2>
            <h4>
                Thread count: @item.ThreadsCount
            </h4>
        </div>
    </div>
}