@model List<Class>

@foreach (var item in Model)
	{
        <table class="table table-bordered table-hover">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Faction</th>
                <th>Character count</th>
            </tr>
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Faction</td>
                <td>@item.Characters.Count()</td>
            </tr>
        </table> 
	}
