@model BugReportViewModel


<div class="container-fluid mt-100" >
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 bg-dark">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        <div class="media-body ml-3">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-warning" data-abc="true">@Model.AccountUserName</a>
                            <div class="text-muted small">13 days ago</div>
                        </div>
                        <div class="text-info small ml-3">
                            <div>Created on <strong>@Model.NormalizedCreatedOn</strong></div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #384047;">
                    <p>
                        @Model.Description
                    </p>
                </div>
                <div class="card-body" style="background-color: #384047;">
                    <label class="text-white font-weight-bold">Notes:</label>
                    <p> @Model.Notes</p>
                   
                </div>
                <div class="card-footer">
                    <a href="/BugReports/Resolve?id=@Model.Id">
                        <label class="btn btn-primary float-right">Resolve</label>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>