@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "table link"
        ],
        content_style: "body { background-color: #292b2c; color: #fff }"
    });
</script>

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <label><span class="font-weight-bold text-warning">Created on: </span>@Model.NormalizedCreatedOn</label>

            <div class="form-group">
                <label asp-for="UserName" class="font-weight-bold text-warning"></label>
                <input asp-for="UserName" class="form-control bg-dark text-white border border-dark" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div>
                <label class="font-weight-bold text-warning">Avatar</label>
                <div>
                    <label class="text-info">All images will be resized to 150x150 px.</label>
                </div>

            </div>

            <img src="~/Images/AvatarImages/@Model.AvatarImagePath?random=@ViewData["random"].ToString()" class="rounded-circle border border-warning border" height="150" width="150" alt="@Model.AvatarImagePath?random=@ViewData["random"].ToString()" />



            <div class="form-group mt-3">
                <input asp-for="AvatarImage" class="form-control img-fluid bg-dark text-white border border-dark" />
                <span asp-validation-for="AvatarImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ForumSignature" class="font-weight-bold text-warning "></label>
                <textarea asp-for="ForumSignature" class="form-control border border-dark"></textarea>
            </div>

            <label class="text-warning font-weight-bold">Forum signature preview</label>
            <div class="card mb-4 border border-dark">
                <div class="card-body background-modal-body">
                    <label class="text-break">@Html.Raw(Model.SanitizedForumSignature)</label>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-outline-warning">Update information</button>
        </form>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}