@model BugReportViewModel


<div class="mb-3 p-3 background-admin ">
    <div class="text-center">
        <h5><span class="font-weight-bold text-warning">Title: </span>@Model.Title</h5>
        <h5><span class="font-weight-bold text-warning">Reported by: </span>@Model.AccountUserName</h5>
        <h5><span class="font-weight-bold text-warning">Created on: </span><partial name="ToLocalTime" model="Model.CreatedOn" /></h5>

    </div>

    <div>
        <h6 class="font-weight-bold text-warning">Description</h6>
        <p class="text-break">@Model.Description</p>
        @if (!string.IsNullOrWhiteSpace(Model.Notes))
        {
            <h6 class="font-weight-bold text-warning">Notes</h6>
            <p class="text-break">@Model.Notes</p>
        }
    </div>

</div>


<hr class="bg-warning" />
<div>
    <a class="btn btn-outline-warning" href="/Administration/BugReports/Resolve?id=@Model.Id">Resolve</a>
</div>