@using HolocronProject.Services.ViewModelsTemp.InputModelsTemp
@using HolocronProject.Data.Enums
@model CharacterInputModel

<h1 class="display-1 text-center">Character creation</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-data">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-data">
        <label asp-for="Backstory"></label>
        <textarea asp-for="Backstory" class="form-control"></textarea>
        <span asp-validation-for="Backstory" class="text-danger"></span>
    </div>

    <div class="form-data">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control"
                asp-items="@Html.GetEnumSelectList<Gender>()">
        </select>
        <span asp-validation-for="Backstory" class="text-danger"></span>
    </div>

</form>