@model HolocronProject.Web.ViewModels.Character.CharacterUserViewModel

<h1>Name: @Model.Name</h1>
<h1>Class name: @Model.ClassName</h1>
<h1>Race name: @Model.RaceName</h1>
<h1>Server mame: @Model.ServerName</h1>